.gpx footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 30px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
}

.gpx footer ul {
  list-style: none;
  background: #fff;
  border-radius: 4px;
  text-align: left;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.gpx footer ul.expandable {
  position: absolute;
  bottom: 30px;
  right: 0;
  text-align: left;
  margin-bottom: 10px;
}

.gpx footer ul.expandable li {
  padding: 5px;
  border-top: 1px solid #ccc;
}

.gpx footer ul.expandable li:first-child {
  border-top: none;
}

.gpx footer ul.expandable li:hover {
  cursor: pointer;
}

.gpx footer ul.always li {
  float: left;
  border-left: 1px solid #ccc;
  width: 29px;
  text-align: center;
}

.gpx footer ul.always li.text {
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 30px;
}

.gpx footer ul.always li:first-child {
  border-left: none;
}

.gpx footer a {
  line-height: 30px;
  font-size: 24px;
}

.gpx footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.gpx footer a .stopped {
  color: red;
}

.gpx footer a .recording {
  color: blue;
}

.subtle-red-marker-icon {
  border-radius: 50%;
  width: 8px !important;
  height: 8px !important;
  margin-left: -4px !important;
  margin-top: -4px !important;
  background: red;
}

.subtle-red-marker-icon:hover {
  background: yellow;
}

.subtle-red-marker-icon:hover::before {
  position: relative;
  content: 'X';
  top: 0px;
  left: 2px;
}

.poi-marker {
  display: none;
  color: #3366ff;
  text-shadow: 0px 0px 2px #333;
}

.zoom-19 .poi-marker {
  display: block;
  font-size: 100px;
  margin-left: -50px !important;
  margin-top: -50px !important;
}

.zoom-18 .poi-marker {
  display: block;
  font-size: 50px;
  margin-left: -25px !important;
  margin-top: -25px !important;
}

.zoom-17 .poi-marker {
  display: block;
  font-size: 24px;
  margin-left: -12px !important;
  margin-top: -12px !important;
}

.zoom-16 .poi-marker {
  display: block;
  font-size: 16px;
  margin-left: -8px !important;
  margin-top: -8px !important;
}
