.gpx footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
}

.gpx footer ul {
  position: absolute;
  list-style: none;
  bottom: 30px;
  right: 0;
  background: #fff;
  border-radius: 4px;
  text-align: left;
  margin-bottom: 10px;
  white-space: nowrap;
  padding: 0;
}

.gpx footer li {
  padding: 5px;
  border-top: 1px solid #ccc;
}

.gpx footer li:first-child {
  border-top: none;
}

.gpx footer li:hover {
  cursor: pointer;
}

.gpx footer a {
  line-height: 30px;
  font-size: 24px;
}

.gpx footer a.open {
  //color: orange;
}

.gpx footer a:hover {
  text-decoration: underline;
  cursor: pointer;
  //color: blue;
}

.leaflet-marker-icon {
  border-radius: 50%;
  width: 12px !important;
  height: 12px !important;
  margin-left: -6px !important;
  margin-top: -6px !important;
}

.subtle-red-marker-icon {
  background: red;
}

.subtle-red-marker-icon:hover {
  background: yellow;
}

.subtle-red-marker-icon:hover::before {
  position: relative;
  content: 'X';
  top: 0px;
  left: 2px;
}
