<section id="demo" class="gpx" data-gpx-source="demo.gpx" data-map-target="demo-map">
  <article>
    <div class="map" id="demo-map"></div>
  </article>
</section>

<script type="text/javascript">
  var map = L.map("demo-map");

  $.get("/trails.json", function(data) {
    $.each(data, function(i, trail) {
      var mapName = trail.file;
      var url = '/trails/' + mapName + '.gpx';
      new L.GPX(url, {
        async: true,
        marker_options: {
          startIconUrl: '',
          endIconUrl: '',
          shadowUrl: ''
        },
        polyline_options: trail.lineStyle,
      }).on('loaded', function(e) {
        var gpx = e.target;
        map.fitBounds(gpx.getBounds());
      }).addTo(map);
    });

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 19,
      id: 'mapbox.satellite',
      accessToken: 'pk.eyJ1IjoiZ21hc3NhbmVrIiwiYSI6ImNpcG82Yzd5NzAxNzlmcm5jaThhb2hheGkifQ.fiZgE5hrmUXwMeaQAOJiDg'
    }).addTo(map);

    locator = L.control.locate({
      position: 'topright',
      drawCircle: false,
      drawMarker: true,
      keepCurrentZoomLevel: true,
      markerStyle: {
        weight: 10,
      }
    }).addTo(map);
    locator.start();
  });
</script>
