</head>
<body>
  <section id="demo" class="gpx" data-gpx-source="demo.gpx" data-map-target="demo-map">
    <article>
      <div class="map" id="demo-map"></div>
    </article>
  </section>

  <script type="text/javascript">
      function display_gpx(elt) {
        if (!elt) return;

        //function _t(t) { return elt.getElementsByTagName(t)[0]; }
        //function _c(c) { return elt.getElementsByClassName(c)[0]; }

        var map = L.map("demo-map");
        var url = '/ledges-to-ef.gpx'; // URL to your GPX file or the GPX itself
        new L.GPX(url, {
          async: true,
        }).on('loaded', function(e) {
          var gpx = e.target;
          map.fitBounds(gpx.getBounds());

          //_t('h3').textContent = gpx.get_name();
          //_c('start').textContent = gpx.get_start_time().toDateString() + ', '
          //  + gpx.get_start_time().toLocaleTimeString();
          //_c('distance').textContent = gpx.get_distance_imp().toFixed(2);
          //_c('duration').textContent = gpx.get_duration_string(gpx.get_moving_time());
          //_c('pace').textContent     = gpx.get_duration_string(gpx.get_moving_pace_imp(), true);
          //_c('avghr').textContent    = gpx.get_average_hr();
          //_c('elevation-gain').textContent = gpx.to_ft(gpx.get_elevation_gain()).toFixed(0);
          //_c('elevation-loss').textContent = gpx.to_ft(gpx.get_elevation_loss()).toFixed(0);
          //_c('elevation-net').textContent  = gpx.to_ft(gpx.get_elevation_gain()
          //  - gpx.get_elevation_loss()).toFixed(0);
        }).addTo(map);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 50,
            id: 'mapbox.satellite',
            accessToken: 'pk.eyJ1IjoiZ21hc3NhbmVrIiwiYSI6ImNpcG82Yzd5NzAxNzlmcm5jaThhb2hheGkifQ.fiZgE5hrmUXwMeaQAOJiDg'
        }).addTo(map);
      }

      display_gpx(document.getElementById('demo'));
  </script>
</body>
</html>
